<h1>Cartas - Servicio</h1>
<input class="form-control" placeholder="que quieres buscar" #inputRef />
<button class="btn btn-primary" (click)="buscarTecnologia(inputRef.value)">
  Buscar
</button>
<div class="row">
  <div class="col" *ngFor="let item of tecnologias">
    <div class="card" style="width: 18rem">
      <img [src]="item.imagen" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.nombre }}</h5>
        <p class="card-text">
          {{ item.aplicacion }}
        </p>
      </div>
    </div>
  </div>
</div>
